*{padding: 0px;margin: 0px;}

.layui-colla-title{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
/*1000px浠ヤ笂灞忓箷鏄剧ず*/
			@media screen and (min-width:1200px){
				*{font-size: 1em;}
			}
			/*灞忓箷瀹藉害鍦�640~1000px*/
			@media screen  and (min-width:640px )and (max-width:1200px) {
				*{font-size: 0.8em;}
			}
			/*灞忓640px浠ヤ笅 */
			@media  screen and (max-width:640px ) {
				*{font-size: 0.5em;}
			}
			
.layui-progress{width: 100%;}
.layui-progress-bar{z-index: 2;}
.course_name{}
.course_option_Btn{text-align:center ;width: 70px;height: 20px;padding: 0px;margin: 0px;float: right;margin-right: 5%;margin-top: 0px;}
.course_option_Btn:hover{cursor: pointer;}
.Percentage{margin-top: 0px;z-index: 1;color: red;margin-left: 5%;}
.course{margin-top: 15px;}
